<h1 mat-dialog-title>
    <p class="title">
        <mat-icon class="material-icons-outlined">info</mat-icon>
        <span>Application Info</span>
    </p>
    <mat-divider></mat-divider>
</h1>
<div mat-dialog-content>
    <p class="mat-body-1">
        Welcome to my image search application, crafted with Angular,
        this app is a modern design and an intuitive interface, i've put in all my efforts to make this application
        easy to use and visually appealing to users.
    </p>
    <p>
        Explore a world of fascinating images, perform precise searches,
        and discover a wide variety of photographs and graphics to inspire your projects and fuel your creativity
        Enjoy the search!
    </p>
    <p>
        This app was made using:
    </p>
    <mat-list>
        <mat-list-item>
            <mat-icon svgIcon="angular-icons" matListItemIcon></mat-icon>
            <span matListItemTitle>Angular 16</span>
            <span matListItemLine>Using new features as Signals, NgOptimizerImage</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListItemIcon>format_color_fill</mat-icon>
            <span matListItemTitle>Material Angular</span>
            <span>Version 16.1.7</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListItemIcon>api</mat-icon>
            <span matListItemTitle>Pixabay's Open Api</span>
            <span matListItemLine>REST API</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon style="font-size:27.4px" matListItemIcon>css</mat-icon>
            <span matListItemTitle>CSS3</span>
            <span matListItemLine>Animation, Grid Css, Flexbox Grid etc.</span>
        </mat-list-item>
    </mat-list>
</div>
<div mat-dialog-actions align="end">
    <button color="primary" mat-raised-button mat-dialog-close>Close</button>
</div>