<mat-accordion>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>tune</mat-icon>
                Current filters
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-chip-row class="add-chip-label">
            <div class="add-chip-label__content">
                <mat-icon>add</mat-icon>
                Add new filter
            </div>
        </mat-chip-row>

        <!-- <mat-chip-grid aria-label="Enter fruits">
            <mat-chip-row>
                test
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            <mat-chip-row>
                test2
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        </mat-chip-grid> -->

    </mat-expansion-panel>
</mat-accordion>