<mat-accordion>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>tune</mat-icon>
                <h3 style="margin: 0;">Current filters</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-chip-row *ngIf="filters.length==0; else listFilters" (click)="openFiltersPopup()" class="add-chip-label">
            <div class="add-chip-label__content">
                <mat-icon>add</mat-icon>
                Add new filter
            </div>
        </mat-chip-row>

        <ng-template #listFilters>
            <div class="filters-chips" aria-label="filters selected">
                <mat-chip-row *ngFor="let filter of filters">
                    <label class="filters-chips__filter-label">
                        {{filter| getFilterProp}}
                    </label>: {{filter | getFilterValue}}
                    <button matChipRemove (click)="removeFilter(filter)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>

            </div>
        </ng-template>

    </mat-expansion-panel>
</mat-accordion>