.filters-chips {
    display: flex;
    flex-wrap: wrap;
    gap:7px;
    text-transform: capitalize;

    &__filter-label {
        font-weight: bold;
    }
}

.add-chip-label {
    background: transparent !important;
    border: 2.5px dotted gray;

    &__content {
        display: flex;
        align-items: center;
        color: gray;

    }
}