<mat-toolbar class="toolbar" color="primary">
    <aside>
        <span>Image Search - Pixabay</span>
    </aside>

    <aside class=""toolbar__icons-section>
        <app-user-menu/>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>dark_mode</mat-icon>
        </button> -->
        <button (click)="openInfoDialog()" class="material-icons-outlined" mat-icon-button aria-label="Info of the current project" >
            <mat-icon>info</mat-icon>
        </button>
        

        <a href="https://www.linkedin.com/in/antonio-santana-153015201" target="_blank" mat-icon-button aria-label="Icon link to navigate linkedin">
            <mat-icon  svgIcon="linkedin"></mat-icon>
        </a>
    </aside>
    