<mat-toolbar class="toolbar" color="primary">
    <aside>
        <span>Image Search - Pixabay</span>
    </aside>

    <aside class="" toolbar__icons-section>
        <button matTooltip="I am building more features for this app, meanwhile, enjoy your search! "
            class="material-icons-outlined" mat-icon-button aria-label="Info of the current project">
            <mat-icon>construction</mat-icon>
        </button>
        <app-user-menu />

        <app-switch-theme matTooltip="Click to change theme"></app-switch-theme>

        <button matTooltip="See application info" (click)="openInfoDialog()" class="material-icons-outlined"
            mat-icon-button aria-label="Info of the current project">
            <mat-icon>info</mat-icon>
        </button>

        <a matTooltip="Go to my Linkedin profile" href="https://www.linkedin.com/in/antonio-santana-153015201"
            target="_blank" mat-icon-button aria-label="Icon link to navigate linkedin">
            <mat-icon svgIcon="linkedin"></mat-icon>
        </a>
    </aside>