:host::ng-deep.mdc-text-field {
    background: white !important;
}

.search-card {
    margin: 0 5px;
    display: grid;
    height: 180px;
    align-items: center;
    padding: 0 35px;
    align-content: center;
    gap: 5px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 7px;
}