.search-card {
    margin: 0 5px;
    display: grid;
    align-items: center;
    padding: 35px;
    align-content: center;
    gap: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 7px;
}

::ng-deep.light-theme {
    :host::ng-deep.mdc-text-field {
        background-color: white !important;
    }

    .search-card {
        background: white;
    }
}

::ng-deep.dark-theme {
    .search-card {
        background: #303030;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }
}


