/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$purple-palette),
                accent: mat.define-palette(mat.$blue-grey-palette),
            ),
            // Only include `typography` and `density` in the default dark theme.
            typography: mat.define-typography-config(),
            density: 0,
        ));

$light-theme: mat.define-light-theme((color: (primary: mat.define-palette(mat.$indigo-palette),
                accent: mat.define-palette(mat.$pink-palette),
            ),
        ));

// @include mat.all-component-themes($light-theme);

.dark-theme {
    @include mat.all-component-colors($dark-theme);
    background-image: radial-gradient(circle, #ffffff0f 10%, transparent 10%) !important;
}

.light-theme {
    @include mat.all-component-colors($light-theme);
    background-image: radial-gradient(circle, #ede9e9 10%, transparent 10%) !important;
    background-color: rgb(251 251 251 / 59%) !important;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-size: 20px 20px;


}