<h1 mat-dialog-title>
    <p class="title">
        <mat-icon>tune</mat-icon>
        <span>Configurate filters</span>
    </p>
    <mat-divider></mat-divider>
</h1>

<div class="filters" mat-dialog-content>
    <mat-form-field>
        <mat-label>Image type</mat-label>
        <mat-select>
            <mat-option>-- Select an option --</mat-option>

            <mat-option value="all">all</mat-option>
            <mat-option value="photo">photo</mat-option>
            <mat-option value="illustration">illustration</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Order</mat-label>
        <mat-select>
            <mat-option>-- Select an option --</mat-option>

            <mat-option value="popular">popular</mat-option>
            <mat-option value="latest">latest</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Colors</mat-label>
        <mat-select>
            <mat-option>-- Select an option --</mat-option>

            <mat-option value="grayscale">grayscale</mat-option>
            <mat-option value="transparent">transparent</mat-option>
            <mat-option value="red">red</mat-option>
            <mat-option value="orange">orange</mat-option>
            <mat-option value="yellow">yellow</mat-option>
            <mat-option value="green">green</mat-option>
            <mat-option value="turquoise">turquoise</mat-option>
            <mat-option value="blue">blue</mat-option>
            <mat-option value="lilac">lilac</mat-option>
            <mat-option value="pink">pink</mat-option>
            <mat-option value="white">white</mat-option>
            <mat-option value="gray">gray</mat-option>
            <mat-option value="black">black</mat-option>
            <mat-option value="brown">brown</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select>
            <mat-option>-- Select an option --</mat-option>
            <mat-option value="backgrounds">backgrounds</mat-option>
            <mat-option value="fashion">fashion</mat-option>
            <mat-option value="nature">nature</mat-option>
            <mat-option value="science">science</mat-option>
            <mat-option value="education">education</mat-option>
            <mat-option value="feelings">feelings</mat-option>
            <mat-option value="health">health</mat-option>
            <mat-option value="people">people</mat-option>
            <mat-option value="religion">religion</mat-option>
            <mat-option value="places">places</mat-option>
            <mat-option value="animals">animals</mat-option>
            <mat-option value="industry">industry</mat-option>
            <mat-option value="computer">computer</mat-option>
            <mat-option value="food">food</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-slide-toggle color="primary">
        Enable safe search?
    </mat-slide-toggle>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Save</button>
</div>